################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LanguageServerProtocol/.vs/MockLanguage/v15
